*
*:after
*:before
    box-sizing border-box
    transition color .3s ease, background .3s ease

html
body
    height 100%

::selection
    background $azul-light
    color $azul

::-moz-selection
    background $azul-light
    color $azul

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 93%
