// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 940px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$azul        = #478E9A
$azul-light  = #D5E5E8
$vermelho    = #D82429
$texto       = #6C6C6C

// Fonts
@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,700')
ubuntu($size, $style = normal)
    font-size $size + 0px
    font-family 'ubuntu', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $style == bold
        font-weight 700

@import url('http://fonts.googleapis.com/css?family=Ubuntu+Condensed')
ubuntucond($size)
    font-size $size + 0px
    font-family 'Ubuntu Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight 400
