.cliente
    clearfix()
    .texto
        width 62%
        float left
        margin-top 30px
        a
            display block
            background $img('icone-seta-branco.png') no-repeat 97% center #999999
            padding 30px 60px 30px 30px
            text-decoration none
            text-transform uppercase
            color #fff
            ubuntu 18
            transition all .3s
            margin-bottom 5px
            +mobile()
                padding 10px 50px 10px 10px
                ubuntu 16
            &:hover
                background $img('icone-seta-branco.png') no-repeat 97% center $azul
    .imagem
        width 23.5%
        float right
        img
            display block
            width 100%
            height auto
            max-width 460px
    +mobile()
        .texto,
        .imagem
            float none
            width 100%
        .imagem
            margin-top 30px
