.construcao
    clearfix()
    .aside
        width 28.57%
        float left
        padding-top 30px
        h2
            margin 0 0 30px
            color $vermelho
            text-transform uppercase
            ubuntu 24 bold
        nav
            a
                position relative
                display block
                width 100%
                ubuntu 13 bold
                color white
                background #999999
                padding 10px 10px 10px 35px
                text-decoration none
                margin-bottom 2px
                &:before
                    content ""
                    display block
                    position absolute
                    height 100%
                    width 14px
                    left 10px
                    top 0
                    background $img('marcador-menu-vazio.png') no-repeat center
                &:hover,
                &.active
                    background $azul
                    &:before
                        background $img('marcador-menu-vermelho.png') no-repeat center
            .submenu
                display block
                a
                    ubuntucond 14
                    padding-top 7px
                    padding-bottom 7px
                    background #E8E8E8
                    color $texto
                    text-transform uppercase
                    transform all .3s
                    &:before
                        background $img('marcador-submenu.png') repeat-y center
                    &:hover, &.active
                        background $azul
                        color #fff
        +mobile()
            width 100%
            float none
            margin-bottom 15px
            h2
                ubuntu 20 bold
    .conteudo
        width 66.32%
        float right
        img
            display block
            width 100%
            height auto
            margin 30px 0 60px
            &:first-child
                margin 0 0 30px
        h3
            ubuntu 18 bold
            margin 0 0 20px
            color $vermelho
            text-transform uppercase
            span
                display block
                margin-bottom 5px
                ubuntu 10 bold
            + h3
                margin-top -15px
        h4
            color $azul
            margin 25px 0 10px
            ubuntu 16 bold
            text-transform uppercase
        p
            ubuntu 14
            color #000
            line-height 1.5
            margin-bottom 0
            &.detalhes
                color $azul
                ubuntu 11 bold
                text-transform uppercase
                margin-top 40px
                a
                    display block
                    padding 14px 50px 14px 14px
                    text-decoration none
                    ubuntu 14 bold
                    transition all .3s
                    margin-top 5px
                    background $img('icone-seta-branco.png') no-repeat 98% center $azul
                    color #fff
                    &:hover
                        background-color $vermelho
        ul
            margin 0
            padding 0 0 0 15px
            li
                ubuntu 14
                line-height 1.4
                color #000
                margin-bottom 5px
        .imagens
            clearfix()
            font-size 0
            margin-top 30px
            a
                display inline-block
                width 47.5%
                margin-right 5%
                margin-bottom 3.5%
                ubuntu 14
                color #000
                text-decoration none
                vertical-align top
                transition color .3s
                &:nth-child(2n)
                    margin-right 0
                img
                    width 100%
                    height auto
                    display block
                    margin 0 0 8px
                +mobile()
                    span
                        ubuntu 11
                &:hover
                    span
                        color $vermelho
        +mobile()
            width 100%
            float none
            img
                max-width 650px
