.contato
    .mapa
        width 100%
        height 300px
        margin-bottom 50px
        iframe
            width 100%
            height 300px
        +mobile()
            height 200px
            margin-bottom 30px
            iframe
                height 200px
    > .center
        clearfix()
    .info
        width 30%
        float left
        .logo-contato
            width 260px
            height 54px
            background $img('marca-falcaobauer.png') no-repeat center
            background-size 100% auto
            margin-bottom 35px
        p
            display inline-block
            position relative
            ubuntu 16
            color #000
            margin 0
            padding-left 28px
            span
                display block
                ubuntu 12
                margin-top 10px
            &:after
                content ""
                display block
                position absolute
                left 0
                top 0
            &.endereco
                margin-top 25px
                &:after
                    width 12px
                    height 16px
                    background $img('icone-contato-endereco.png') no-repeat center
            &.telefone
                margin-top 16px
                ubuntu 16 bold
                &:after
                    width 18px
                    height 13px
                    background $img('icone-contato-telefone.png') no-repeat center
        +mobile()
            width 100%
            float none
            text-align center
            margin-bottom 30px
            p
                display block
                &:after
                    display none
                &.telefone
                    margin-top 0
            .logo-contato
                display none
    .forms
        width 65%
        float right
        .form-wrapper
            border 1px solid #83C0D3
            padding 25px 30px 30px
            &:first-child
                margin-bottom 20px
            span
                position relative
                display block
                width 100%
                height 20px
                line-height 20px
                color $vermelho
                ubuntucond 16
            form
                display block
                margin-top 30px
                .row
                    width 100%
                    clearfix()
                    margin-bottom 5px
                    label
                        width 14%
                        height 20px
                        line-height 20px
                        text-align right
                        float left
                        ubuntu 13
                        color $azul
                    input, textarea, select
                        width 82%
                        float right
                        border 1px solid #83C0D3
                        ubuntu 13
                        color $azul-escuroa
                        height 20px
                        padding-left 4px
                        outline 0
                    +mobile()
                        label
                            width 100%
                            float none
                            display block
                            text-align left
                        input, textarea, select
                            width 100%
                            float none
                    textarea
                        height 170px
                        padding-top 4px
                        resize none
                input[type='submit']
                    background $azul
                    border 0
                    outline 0
                    height 24px
                    line-height 23px
                    ubuntu 13
                    color white
                    padding 0
                    text-align center
                    transition background .3s
                    &:hover
                        background $vermelho
        +mobile()
            width 100%
            float none
            .form-wrapper
                padding 15px
                form
                    margin-top 20px
