.grupo
    clearfix()
    .texto
        width 46%
        float left
        margin-top 30px
        p
            ubuntu 16
            line-height 1.5
            color #000
            &:first-child
                margin-top 0
        ul
            padding 0
            margin 20px 0
            list-style-type none
            li
                ubuntu 14
                color #000
                line-height 1.4
    .texto-row
        border-top 1px solid $vermelho
        width 100%
        float left
        margin-top 20px
        padding 20px 0 20px
        .texto-col
            width 46%
            float left
            &:last-child
                float right
            +mobile()
                width 100%
                float left !important
                margin-bottom 20px
                &:last-child
                    margin-bottom 0
        h3
            ubuntu 18 bold
            color $azul
            text-transform uppercase
            margin 0 0 10px
        h2
            ubuntu 18 bold
            color $vermelho
            text-transform uppercase
            margin 0 0 20px
        p
            color #000
            ubuntu 14
            line-height 1.4
            &:first-of-type
                margin-top 0
        ul
            margin 0
            padding 0 0 0 15px
            li
                ubuntu 14
                line-height 1.4
                color #000
                margin-bottom 5px
    .imagem
        width 46%
        float right
        img
            display block
            width 100%
            height auto
            max-width 460px
    +mobile()
        .texto,
        .imagem
            float none
            width 100%
        .imagem
            margin-top 30px
        .texto a
            padding-left 24px
            padding-right 24px
