.main.home
    .banners
        background #F5F5F5
        #banners-cycle
            height 300px
            position relative
            .cycle-pager
                position absolute
                bottom 15px
                left 55%
                z-index 101
                clearfix()
                height auto
                a
                    display block
                    width 10px
                    height 10px
                    float left
                    text-indent -9999px
                    border-radius 100%
                    border 2px solid #808080
                    margin-right 3px
                    transition background .3s
                    &:hover
                        background rgba(#808080, .3)
                    &.cycle-pager-active
                        background #808080
                +below($tablet)
                    left 0
                    width 100%
                    text-align center
                    bottom 10px
                    a
                        display inline-block
                        float none
                +mobile()
                    bottom 5px
            .banners-slide
                display table !important
                position absolute
                text-decoration none
                width 100%
                height 100%
                top 0
                left 0
                background-position center left
                background-size auto 100%
                background-repeat no-repeat
                +below($tablet)
                    background-size cover
                div
                    width 100%
                    max-width 100%
                    display table-cell
                    vertical-align middle
                    p
                        margin 0
                        width 45%
                        float right
                        clear right
                        &.chamada
                            color $texto
                            ubuntucond 16
                            text-transform uppercase
                            margin-bottom 15px
                        &.titulo
                            color $texto
                            ubuntu 44
                            line-height .9
                        &.texto
                            color $texto
                            ubuntu 13
                            font-style italic
                            margin-top 15px
        +below($tablet)
            .center
                width 100%
            #banners-cycle
                .banners-slide div
                    background rgba(206,227,236,.6)
                    p
                        width 100%
                        padding 0 10%
                        text-align center
        +mobile()
            #banners-cycle
                height 180px
                .banners-slide div p
                    &.chamada,
                    &.texto
                        display none
                    &.titulo
                        font-size 32px
                        line-height 1

    .laboratorios
        margin-top 35px
        clearfix()
        h3
            ubuntu 24
            font-style italic
            color $texto
            text-align center
            margin 0 0 10px
            +mobile()
                font-size 20px
            span
                text-transform uppercase
        a
            display block
            width 33.33%
            float left
            background $azul-light
            border-right 1px solid white
            border-bottom 1px solid white
            text-align center
            text-decoration none
            text-transform uppercase
            ubuntu 14
            font-style italic
            color black
            padding 10px 0
            transition background .3s, color .3s
            &:hover
                background $azul
                color #fff
            +mobile()
                width 50%
                font-size 12px

    .noticias
        margin-top 50px
        clearfix()
        h3
            ubuntu 24
            font-style italic
            text-transform uppercase
            color $texto
            margin 0
            +mobile()
                font-size 20px
        .noticia
            position relative
            width 33.333333%
            +above($mobile)
                min-height 175px
            float left
            display block
            margin-top 10px
            border-right 2px solid white
            padding 15px 15px 50px
            background #F5F5F5
            text-decoration none
            color $texto
            &:after
                content ""
                position absolute
                bottom 10px
                left 15px
                right 70px
                height 4px
                background $vermelho
            p
                margin 0
                transition none
                &.titulo
                    ubuntucond 20
                    text-transform uppercase
                    margin-bottom 10px
                &.texto
                    ubuntu 12
            span
                display block
                position absolute
                bottom 0
                right 0
                height 24px
                line-height 24px
                transition background .3s
                background #F5F5F5
                color $vermelho
                ubuntu 10
                padding 0 10px
                transition background .3s ease
                text-align right
            &:hover
                background $texto
                color #fff
                span
                    background $texto
            +mobile()
                width 100%