header
    background #ffffff
    .header-top
        padding 35px 0
        clearfix()
        h1
            margin 0
            float left
            a
                display block
                text-indent -9999px
                width 341px
                height 70px
                background $img('marca-falcaobauer.png') no-repeat center
                background-size 100% auto
        form
            position relative
            width 200px
            height 28px
            float right
            border 1px solid #E6E6E6
            ::-webkit-input-placeholder
                color $texto
            :-moz-placeholder
               color $texto
               opacity 1
            ::-moz-placeholder
               color $texto
               opacity 1
            :-ms-input-placeholder
               color $texto
            input[type='text']
                background transparent
                border 0
                outline 0
                ubuntu 12
                height 28px
                line-height 28px
                width 165px
                padding-left 8px
                color $texto
            input[type='submit']
                position absolute
                top 0
                right 0
                border 0
                outline 0
                width 28px
                height 28px
                background $img('icone-lupa.png') no-repeat center
        nav
            float right
            clear right
            text-align right
            margin-top 24px
            a
                position relative
                display inline-block
                text-decoration none
                text-transform uppercase
                ubuntucond 14
                color $texto
                margin-left 10px
                padding-left 12px
                +tablet()
                    ubuntucond 13
                    margin-left 8px
                    padding-left 10px
                &:before
                    content ""
                    display block
                    position absolute
                    width 6px
                    height 10px
                    left 0
                    top 3px
                    background $img('setinha-cinza.png') no-repeat center
                    background-size cover
                &:hover,
                &.active
                    color $vermelho
        +mobile()
            height 85px
            padding 0
            h1
                float left
                padding 0
                margin 10px 0
                height 65px
                width 64%
                max-width 220px
                a
                    width 100%
                    height 100%
                    background-size 100% auto
                    background-position center left
            form
                display none
            nav
                display none
    .header-nav
        border-bottom 3px solid $vermelho
        background $azul
        +mobile()
            display none
        nav
            display table
            width 100%
            clearfix()
            a
                display table-cell
                padding 10px
                text-align center
                vertical-align middle
                border-right 1px solid rgba(white, .3)
                text-decoration none
                text-transform uppercase
                color #fff
                ubuntucond 20
                &:hover,
                &.active
                    color #000
                &:first-child
                    border-left 1px solid rgba(white, .3)
                +below($tablet)
                    ubuntucond 18
    #nav-mobile
        +above($mobile)
            display none !important
        display none
        width 100%
        background $azul
        padding 10px 3.5%
        text-align center
        nav
            a
                display block
                text-decoration none
                color $azul-light
                text-transform uppercase
                transition none
                ubuntucond 16
                padding 10px 0
                border-bottom 1px solid rgba(255,255,255,.15)
                span
                    display block
                    text-transform lowercase
                    opacity .8
                &.active
                    color #fff
                &:last-child
                    border 0
    #mobile-toggle
        +mobile()
            display block
        display none
        background-color $vermelho
        border 0
        position absolute
        right 0
        top 0
        height 85px
        width 85px
        outline 0
        padding 0
        .lines
            display block
            width 40%
            height 3px
            margin 41px auto
            background white
            position relative
            transition .3s ease
            &:before,
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                background white
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before,
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

.main
    margin 0 0 50px
    &.not-found
        padding-top 50px
        margin-bottom 85px
        text-align center
        h2
            display inline-block
            ubuntu 14 bold
            text-transform uppercase
            color $azul
            border 1px solid $azul
            padding 16px
    .title
        background #F5F5F5
        min-height 10px
        h2
            margin 0
            padding 20px 0
            ubuntucond 24
            text-transform uppercase
            color $vermelho

footer
    .info
        background #E6E6E6
        clearfix()
        .contato
            width 25%
            float left
            padding 16px 0
            .logo-footer
                display block
                width 155px
                height 34px
                background $img('marca-falcaobauer.png') no-repeat center
                background-size 100% auto
            +below($tablet)
                width 100%
                float none
                text-align center
                padding 24px 0
                .logo-footer
                    margin 0 auto
            p
                display inline-block
                position relative
                ubuntu 12
                color #000
                margin 0
                padding-left 24px
                &:after
                    content ""
                    display block
                    position absolute
                    left 0
                    top 2px
                +below($tablet)
                    width 100%
                    padding 0
                    &:after
                        display none
                &.endereco
                    margin-top 25px
                    &:after
                        width 9px
                        height 12px
                        background $img('icone-endereco.png') no-repeat center
                &.telefone
                    margin-top 16px
                    ubuntu 12 bold
                    &:after
                        width 14px
                        height 10px
                        background $img('icone-telefone.png') no-repeat center
        .col
            width 25%
            float left
            border-left 1px solid rgba(black, .3)
            padding 13px
            min-height 190px
            +below($tablet)
                display none
            a
                display block
                text-decoration none
                color #000
                ubuntu 11 bold
                line-height 1.2
                margin 12px 0
                &:hover
                    color $vermelho
                &:first-child
                    margin-top 0
    .copyright
        background #808080
        padding 10px 0
        p
            text-align center
            ubuntu 11
            line-height 1.5
            color rgba(white, .5)
            +below($tablet)
                ubuntu 10
            +mobile()
                span
                    display block
            a
                display inline-block
                text-decoration none
                color rgba(white, .5)
                &:hover
                    color white
                &:last-child
                    position relative
                    padding-right 25px
                    &:after
                        content ""
                        position absolute
                        display block
                        width 15px
                        height 12px
                        background $img('icone-trupe.png') no-repeat center
                        right 0
                        top 1px

.fancybox-title
    font-size 14px !important
    font-family 'ubuntu', 'Helvetica', 'Arial', sans-serif !important
    font-weight 400 !important
    +mobile()
        font-size 12px !important

.fancybox-skin
    border-radius 0 !important
