.trabalhe-conosco
    clearfix()
    .texto
        width 60%
        float left
        margin-top 30px
        p
            ubuntu 14
            line-height 1.5
            color #000
            &:first-child
                margin-top 0
        ul
            padding 0
            margin 20px 0
            padding 0 0 0 15px
            li
                ubuntu 14
                color #000
                line-height 1.4
                margin-bottom 5px
        a
            display block
            background $img('icone-seta-azul.png') no-repeat 98% center #E8E8E8
            padding 10px 50px 10px 10px
            text-decoration none
            color $azul
            ubuntu 14 bold
            transition all .3s
            margin-top 40px
            &:hover
                background $img('icone-seta-branco.png') no-repeat 98% center $azul
                color #fff
    .imagem
        width 33%
        float right
        img
            display block
            width 100%
            height auto
            max-width 460px
    +mobile()
        .texto,
        .imagem
            float none
            width 100%
        .imagem
            margin-top 30px
